:root {
  /* variable-font */
  --font-variable-minViewportPx-default: 360;
  --font-variable-maxViewportPx-default: 750;
  --font-variable-remBase: 16;

  /* color */
  --primary-color: navy;
  --black: #393939;
  --white: #fff;

  /* font */
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1;
}

body {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--black);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ======================== */
/* 共通スタイル */
/* ======================== */
.inner {
  --padding-inline: 30px;
  --max-content-width: 1000px;

  width: min(calc(100% - var(--padding-inline) * 2), var(--max-content-width));
  margin-inline: auto;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
  padding-inline-start: 0.5rem;
  border-inline-start: 6px solid;
}

.c-btn {
  display: inline-block;
  inline-size: fit-content;
  color: var(--white);
  background: var(--black);
  border-radius: 30px;
  padding-block: 1em;
  padding-inline: 1.5em;
  border: 2px solid;
  transition: all 0.5s ease;
}

@media (any-hover: hover) {
  .c-btn:hover {
    background: var(--white);
    color: var(--black);
    border-color: inherit;
  }
}

/* ======================== */
/* header.php */
/* ======================== */
.header {
  position: sticky;
  inset: 0;
  width: 100%;
  padding-block: 20px;
  background: var(--black);
  color: var(--white);
  z-index: 99;
}

/* global-nav */
.global-nav {
  --padding-inline: 30px;
  --max-content-width: 1200px;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: min(calc(100% - var(--padding-inline) * 2), var(--max-content-width));
  margin-inline: auto;
}

.global-nav h1 {
  display: inline-block;
  justify-self: start;
  font-size: 1.5rem;
  font-weight: 700;
  transition: opacity 0.5s ease;
}

@media (any-hover: hover) {
  .global-nav h1:hover {
    opacity: 0.5;
  }
}

.global-nav__list {
  --max-content-width: 400px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
  width: min(100%, var(--max-content-width));
  justify-self: end;
}

.global-nav__item {
  justify-self: center;
  font-weight: 500;
}

.global-nav__item a {
  transition: opacity 0.5s ease;
}

@media (any-hover: hover) {
  .global-nav__item a:hover {
    opacity: 0.5;
  }
}

/* bogo言語切り替えスイッチのスタイル */
.bogo-language-switcher {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.t-headerCenter .menuBtn__link::after {
  content: "LANG";
}

.widget > ul.bogo-language-switcher {
  border: none;
  text-align: center;
}

ul.bogo-language-switcher li {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background: #7a7a7a;
  border-radius: 50%;
  overflow: visible;
  cursor: pointer;
}

ul.bogo-language-switcher li.current {
  background: navy;
  font-weight: 600;
}

ul.bogo-language-switcher li span {
  position: relative;
  display: block;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

ul.bogo-language-switcher li a {
  display: block;
}

/* ======================== */
/* footer.php */
/* ======================== */
.footer {
  width: 100%;
  padding-block: 20px;
  background: var(--black);
  color: var(--white);
  text-align: center;
}

/* ======================== */
/* topページ */
/* ======================== */
.fv {
  width: 100dvw;
  height: 60dvh;
  display: grid;
  place-items: center;
}

.fv__content {
  width: min(calc(100% - 36px * 2), 1000px);
  margin-inline: auto;
}

.fv__title {
  --font-variable-minViewportPx: var(--font-variable-minViewportPx-default);
  --font-variable-maxViewportPx: var(--font-variable-maxViewportPx-default);
  --font-variable-minPx: 46;
  --font-variable-maxPx: 90;
  --font-variable-variablePart: calc(
    (var(--font-variable-maxPx) - var(--font-variable-minPx)) /
      (var(--font-variable-maxViewportPx) - var(--font-variable-minViewportPx))
  );
  --font-variable-constant: calc(
    (
        var(--font-variable-maxPx) - var(--font-variable-maxViewportPx) *
          var(--font-variable-variablePart)
      ) / var(--font-variable-remBase)
  );
  --variable-font-size: clamp(
    calc(var(--font-variable-minPx) * (1rem / var(--font-variable-remBase))),
    calc((var(--font-variable-constant) * 1rem)) +
      ((100 * var(--font-variable-variablePart)) * 1vw),
    calc(var(--font-variable-maxPx) * (1rem / var(--font-variable-remBase)))
  );

  font-size: var(--variable-font-size);
  font-weight: 700;
  line-height: 1.5;
}

.fv__sub-title {
  --font-variable-minViewportPx: var(--font-variable-minViewportPx-default);
  --font-variable-maxViewportPx: var(--font-variable-maxViewportPx-default);
  --font-variable-minPx: 18;
  --font-variable-maxPx: 32;
  --font-variable-variablePart: calc(
    (var(--font-variable-maxPx) - var(--font-variable-minPx)) /
      (var(--font-variable-maxViewportPx) - var(--font-variable-minViewportPx))
  );
  --font-variable-constant: calc(
    (
        var(--font-variable-maxPx) - var(--font-variable-maxViewportPx) *
          var(--font-variable-variablePart)
      ) / var(--font-variable-remBase)
  );
  --variable-font-size: clamp(
    calc(var(--font-variable-minPx) * (1rem / var(--font-variable-remBase))),
    calc((var(--font-variable-constant) * 1rem)) +
      ((100 * var(--font-variable-variablePart)) * 1vw),
    calc(var(--font-variable-maxPx) * (1rem / var(--font-variable-remBase)))
  );

  font-size: var(--variable-font-size);
  font-weight: 600;
  line-height: 1.5;
}

.contents {
  padding-block: 2rem;
}

.contents__text {
  margin-block-start: 1em;
}

.contents__text p {
  font-size: 1rem;
  line-height: 1.6;
}

.contents__text p + p {
  margin-block-start: 0.5em;
}

.contents__btn {
  margin-block-start: 2em;
  text-align: center;
}

.articles {
  padding-block-start: 2rem;
  padding-block-end: 6rem;
}

.articles__container {
  margin-block-start: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
}

/* ======================== */
/* 記事部分 */
/* ======================== */
.article {
  --padding: 1rem;
  --radius: 10px;

  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 20px;
  background: #fafafa;
  border-radius: var(--radius);
  padding: var(--padding);
}

.article__img {
  width: calc(100% + var(--padding) * 2);
  margin-block-start: -1rem;
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
  border-radius: var(--radius) var(--radius) 0 0;
  height: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.article__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: transform 0.5s ease;
}

@media (any-hover: hover) {
  .article:hover .article__img img {
    transform: scale(1.07);
  }
}

.article__title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* 2行まで表示 */
  -webkit-box-orient: vertical;
  white-space: normal;
}

.article__excerpt p {
  display: inline;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* 3行まで表示 */
  -webkit-box-orient: vertical;
  white-space: normal;
}

/* ======================== */
/* page-about.php */
/* ======================== */
.page-about {
  padding-block: 3rem;
}

.page-contents {
  padding-block: 2rem;
}

.page-contents p + p {
  margin-block-start: 0.5em;
}

/* ======================== */
/* single.php */
/* ======================== */
.page-articles {
  padding-block: 3rem;
}

.entry-content {
  margin-block-start: 2.5rem;
}

.entry-content
  :is(
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    dl,
    dt,
    p,
    div,
    span,
    img,
    a,
    table,
    tr,
    th,
    td,
    small,
    button,
    time,
    figure
  ) {
  margin-block-start: 1.3em;
}

.entry-content
  :is(
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    dl,
    dt,
    p,
    div,
    span,
    img,
    a,
    table,
    tr,
    th,
    td,
    small,
    button,
    time,
    figure
  ):first-child {
  margin-block-start: 0;
}

.entry-content h2 {
  font-size: 2.488125rem;
  font-weight: 700;
  line-height: 1.5;
}

.entry-content h3 {
  font-size: 2.07375rem;
  font-weight: 700;
  line-height: 1.5;
}

.entry-content h4 {
  font-size: 1.728125rem;
  font-weight: 700;
  line-height: 1.5;
}

.entry-content h5 {
  font-size: 1.44rem;
  font-weight: 700;
  line-height: 1.5;
}

.entry-content h6 {
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.8;
}

.entry-content p {
  font-size: 1rem;
  line-height: 2;
}
