:root {
  --primary-color: navy;
  --black: #393939;
  --white: #fff;
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1;
}

body {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ======================== */
/* 共通スタイル */
/* ======================== */
.inner {
  --padding-inline: 30px;
  --max-content-width: 1000px;

  width: min(calc(100% - var(--padding-inline) * 2), var(--max-content-width));
  margin-inline: auto;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
  padding-inline-start: 0.5rem;
  border-inline-start: 6px solid;
}

.c-btn {
  display: inline-block;
  width: fit-content;
  color: var(--white);
  background: var(--black);
  border-radius: 30px;
  padding-block: 1em;
  padding-inline: 1.5em;
  border: 2px solid;
  transition: all 0.5s ease;
}

@media (any-hover: hover) {
  .c-btn:hover {
    background: var(--white);
    color: var(--black);
    border-color: inherit;
  }
}

/* ======================== */
/* header.php */
/* ======================== */
.header {
  position: sticky;
  inset: 0;
  width: 100%;
  padding-block: 20px;
  padding-inline: 50px;
  background: var(--black);
  color: var(--white);
}

/* global-nav */
.global-nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.global-nav h1 {
  display: inline-block;
  justify-self: start;
  font-size: 1.5rem;
  font-weight: 700;
  transition: opacity 0.5s ease;
}

@media (any-hover: hover) {
  .global-nav h1:hover {
    opacity: 0.5;
  }
}

.global-nav__list {
  --max-content-width: 400px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
  width: min(100%, var(--max-content-width));
  justify-self: end;
}

.global-nav__item {
  justify-self: center;
  font-weight: 500;
}

.global-nav__item a {
  transition: opacity 0.5s ease;
}

@media (any-hover: hover) {
  .global-nav__item a:hover {
    opacity: 0.5;
  }
}

/* bogo言語切り替えスイッチのスタイル */
.bogo-language-switcher {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.t-headerCenter .menuBtn__link::after {
  content: "LANG";
}

.widget > ul.bogo-language-switcher {
  border: none;
  text-align: center;
}

ul.bogo-language-switcher li {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background: #7a7a7a;
  border-radius: 50%;
  overflow: visible;
  cursor: pointer;
}

ul.bogo-language-switcher li.current {
  background: navy;
  font-weight: 600;
}

ul.bogo-language-switcher li span {
  position: relative;
  display: block;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

ul.bogo-language-switcher li a {
  display: block;
}

/* ======================== */
/* footer.php */
/* ======================== */
.footer {
  width: 100%;
  padding-block: 20px;
  background: var(--black);
  color: var(--white);
  text-align: center;
}

/* ======================== */
/* topページのスタイル */
/* ======================== */
.fv {
  width: 100vw;
  height: 60vh;
  display: grid;
  place-items: center;
}

.fv__content {
  width: min(calc(100% - 36px * 2), 1000px);
  margin-inline: auto;
}

.fv__title {
  font-size: clamp(2.875rem, 1.225rem + 7.04vw, 5.625rem);
  font-weight: 700;
  line-height: 1.5;
}

.fv__sub-title {
  font-size: clamp(1.125rem, 0.6rem + 2.24vw, 2rem);
  font-weight: 600;
  line-height: 1.5;
}

.contents {
  padding-block: 2rem;
}

.contents__text {
  margin-block-start: 1em;
}

.contents__text p {
  font-size: 1rem;
  line-height: 1.6;
}

.contents__text p + p {
  margin-block-start: 0.5em;
}

.contents__btn {
  margin-block-start: 2em;
  text-align: center;
}

.articles {
  padding-block-start: 2rem;
  padding-block-end: 6rem;
}

.articles__container {
  margin-block-start: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
}

/* ======================== */
/* 記事部分 */
/* ======================== */
.article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 20px;
}

.article__img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.article__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

@media (any-hover: hover) {
  .article:hover .article__img img {
    transform: scale(1.1);
  }
}

.article__title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* 2行まで表示 */
  -webkit-box-orient: vertical;
  white-space: normal;
}

.article__excerpt p {
  display: inline;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* 3行まで表示 */
  -webkit-box-orient: vertical;
  white-space: normal;
}

/* ======================== */
/* page-about.php */
/* ======================== */
.page-about {
  padding-block: 3rem;
}

.page-contents {
  padding-block: 2rem;
}

.page-contents p + p {
  margin-block-start: 0.5em;
}

/* ======================== */
/* single.php */
/* ======================== */
.page-articles {
  padding-block: 3rem;
}

.entry-content {
  margin-top: 2.5rem;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content ul,
.entry-content ol,
.entry-content dl,
.entry-content dt,
.entry-content p,
.entry-content div,
.entry-content span,
.entry-content img,
.entry-content a,
.entry-content table,
.entry-content tr,
.entry-content th,
.entry-content td,
.entry-content small,
.entry-content button,
.entry-content time,
.entry-content figure {
  margin-top: 1.3em;
}

.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-content ul:first-child,
.entry-content ol:first-child,
.entry-content dl:first-child,
.entry-content dt:first-child,
.entry-content p:first-child,
.entry-content div:first-child,
.entry-content span:first-child,
.entry-content img:first-child,
.entry-content a:first-child,
.entry-content table:first-child,
.entry-content tr:first-child,
.entry-content th:first-child,
.entry-content td:first-child,
.entry-content small:first-child,
.entry-content button:first-child,
.entry-content time:first-child,
.entry-content figure:first-child {
  margin-top: 0;
}

.entry-content h2 {
  font-size: 2.488125rem;
  font-weight: 700;
  line-height: 1.5;
}

.entry-content h3 {
  font-size: 2.07375rem;
  font-weight: 700;
  line-height: 1.5;
}

.entry-content h4 {
  font-size: 1.728125rem;
  font-weight: 700;
  line-height: 1.5;
}

.entry-content h5 {
  font-size: 1.44rem;
  font-weight: 700;
  line-height: 1.5;
}

.entry-content h6 {
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.8;
}

.entry-content p {
  font-size: 1rem;
  line-height: 2;
}
